


    #gallery {
        display: flex;
        list-style-type: none;
    }
    img {
        display: block;
        width: 480px;
        height: 270px;
    }
   .photo {
    margin-left: 20px;
   }
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}